<div class="d-flex justify-content-center">
    <ul class="pagination">
        {% if not page_obj.has_previous %}
            <li class="page-item disabled">
                <a class="page-link">&laquo; В начало</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link">Назад</a>
            </li>
        {% else %}
            <li class="page-item">
                <a class="page-link" href="?{% if query %}{{ query }}&{% endif %}page=1">&laquo; В начало</a>
            </li>
            <li class="page-item">
                <a class="page-link"
                   href="?{% if query %}{{ query }}&{% endif %}page={{ page_obj.previous_page_number }}">Назад</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?{% if query %}{{ query }}&{% endif %}page={{ page_obj.previous_page_number }}">
                    {{ page_obj.previous_page_number }}
                </a>
            </li>
        {% endif %}

        <li class="page-item active" aria-current="page">
            <form method="get">
                {% if search %}<input type="hidden" name="search" value="{{ search }}">{% endif %}
                <input type="text" class="form-control" name="page" value="{{ page_obj.number }}">
            </form>
            {#        <a class="page-link" href="#">{{ page_obj.number }}</a>#}
        </li>

        {% if not page_obj.has_next %}
            <li class="page-item disabled">
                <a class="page-link">Далее</a>
            </li>

            <li class="page-item disabled">
                <a class="page-link">В конец &raquo;</a>

            </li>
        {% else %}
            <li class="page-item">
                <a class="page-link" href="?{% if query %}{{ query }}&{% endif %}page={{ page_obj.next_page_number }}">
                    {{ page_obj.next_page_number }}
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?{% if query %}{{ query }}&{% endif %}page={{ page_obj.next_page_number }}">Далее</a>
            </li>
            <li class="page-item">
                <a class="page-link"
                   href="?{% if query %}{{ query }}&{% endif %}page={{ page_obj.paginator.num_pages }}">В конец
                    &raquo;</a>

            </li>
        {% endif %}
    </ul>
</div>